.rce-mbox-text{
  /* padding: 0.5rem 1rem 2rem 1rem; */
}

.rce-container-mbox{
  margin: 0.2rem 0;
}

.rce-mbox{
  max-width: 277px;
}

.rce-mbox-photo{
  padding-bottom: 1.5rem;
}

.rce-mbox-photo--img img {
  object-fit: cover;
}